.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}
.chat-message-robot {
  display: flex;
  align-items: start;
}
.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-right: 10px;
  max-width: 300px;
}
.chat-message-profile {
  width: 45px;
}
.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}
.welcome-message{
  color:rgb(120, 120, 120);
  text-align: center;
}
.loading-spinner{
  height:40px;
  margin:-15px
}