.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}
.chat-message-robot {
  display: flex;
  align-items: start;
}
.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-right: 10px;
  max-width: 300px;
}

.welcome-message{
  color:rgb(120, 120, 120);
  text-align: center;
}
.loading-spinner{
  height:40px;
  margin:-15px
}

.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  padding: 12px 20px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.clear-button {
  background-color: rgb(222, 222, 222);
  color: black;
  border: none;
  padding: 12px 20px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
