.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  padding: 12px 20px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.input-area {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}
.input-area-container {
  display: flex;
  margin-bottom: 60px;
}
.chat-message-profile {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
}
.chat-message-time {
  font-size: 14px;
  color: rgb(125, 125, 125);
  margin-top: 5px;
}