
.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  padding: 12px 20px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.input-area {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}
.input-area-container {
  display: flex;
  margin-bottom: 60px;
}
.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  /*--  vh refers to viewheight of the browser --*/
  display: flex;
  flex-direction: column;
}
.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}
.chat-message-robot {
  display: flex;
  align-items: start;
}
.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-right: 10px;
  max-width: 300px;
}
.chat-message-profile {
  width: 45px;
}
.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}
.welcome-message{
  color:rgb(120, 120, 120);
  text-align: center;
}
.loading-spinner{
  height:40px;
  margin:-15px
}