.input{
    padding:10px 20px;
    margin-bottom:10px;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 8px;
}
.authentication-button{
    padding:10px 15px;
    margin-right: 5px;
    margin-top: 8px;
    border-radius: 5px;
    border:none;
    background-color: rgb(0,123,255);
    color: white;
}